# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import requests

In [3]:
all_stars = pd.read_csv('../files/NBA All Stars 2000-2016 - Sheet1.csv')

In [4]:
print(all_stars.head(5))
print('\n\n\n\n\n', all_stars.keys())

   Year         Player Pos    HT   WT                   Team  \
0  2016  Stephen Curry   G   6-3  190  Golden State Warriors
1  2016   James Harden  SG   6-5  220        Houston Rockets
2  2016   Kevin Durant  SF   6-9  240  Golden State Warriors
3  2016  Kawhi Leonard   F   6-7  230      San Antonio Spurs
4  2016  Anthony Davis  PF  6-11  253   New Orleans Pelicans

                        Selection Type    NBA Draft Status    Nationality
0  Western All-Star Fan Vote Selection   2009 Rnd 1 Pick 7  United States
1  Western All-Star Fan Vote Selection   2009 Rnd 1 Pick 3  United States
2  Western All-Star Fan Vote Selection   2007 Rnd 1 Pick 2  United States
3  Western All-Star Fan Vote Selection  2011 Rnd 1 Pick 15  United States
4  Western All-Star Fan Vote Selection   2012 Rnd 1 Pick 1  United States





 Index(['Year', 'Player', 'Pos', 'HT', 'WT', 'Team', 'Selection Type',
       'NBA Draft Status', 'Nationality'],
      dtype='object')

In [6]:
from jupyter_core.paths import jupyter_config_dir
jupyter_dir = jupyter_config_dir()
print(jupyter_dir)

import os.path
custom_js_path = os.path.join(jupyter_dir, 'custom', 'custom.js')
print(custom_js_path)

if os.path.isfile(custom_js_path):
    with open(custom_js_path) as f:
        print(f.read())
else:
    print("You don't have a custom.js file")

C:\Users\alebe\.jupyter
C:\Users\alebe\.jupyter\custom\custom.js
require(["codemirror/keymap/sublime", "notebook/js/cell", "base/js/namespace"],
    function(sublime_keymap, cell, IPython) {
        cell.Cell.options_default.cm_config.keyMap = 'sublime';
        cell.Cell.options_default.cm_config.extraKeys["Ctrl-Enter"] = function(cm) {}
        var cells = IPython.notebook.get_cells();
        for(var cl=0; cl< cells.length ; cl++){
            cells[cl].code_mirror.setOption('keyMap', 'sublime');
            cells[cl].code_mirror.setOption("extraKeys", {
                "Ctrl-Enter": function(cm) {}
            });
        }
    }

# What is the average weight of all players who played during this time?

In [9]:
all_stars_years_mean_wt = all_stars.groupby('Year').mean('WT')
all_stars_mean_wt = all_stars_years_mean_wt.mean()
print(all_stars_years_mean_wt, f'\n\n\nMean weight fora ll years all player:\n\n{all_stars_mean_wt}')

              WT
Year
2000  228.928571
2001  229.153846
2002  231.200000
2003  233.375000
2004  231.833333
2005  228.640000
2006  229.655172
2007  228.576923
2008  228.961538
2009  225.964286
2010  231.400000
2011  227.320000
2012  227.600000
2013  227.840000
2014  226.214286
2015  227.346154
2016  225.458333


Mean weight fora ll years all player:

WT    228.792203
dtype: float64

# What team is represented the most during this time?

In [69]:
#all players not unique, gives only max value based on location not all max values if there are more than 1

all_stars_teams_count = all_stars.groupby('Team').count()[['Player']]
all_stars_teams_count_sorted = all_stars_teams_count.sort_values(by = 'Player', ascending=False)
all_starts_most_represented = all_stars_teams_count_sorted.loc[all_stars_teams_count_sorted[['Player']].idxmax()]

print(f'The team represented the most by number of players in combined years:\n\n{all_starts_most_represented}')

The team represented the most by number of players in combined years:

            Player
Team
Miami Heat      28

In [67]:
#Finding unique values while printing all that are max 

all_stars_teams_count_no_dup = all_stars.drop_duplicates('Player')
all_stars_teams_count = all_stars_teams_count_no_dup.groupby('Team').count()[['Player']]
all_stars_teams_count_sorted = all_stars_teams_count.sort_values(by = 'Player', ascending=False)
all_starts_most_represented = all_stars_teams_count_sorted[all_stars_teams_count_sorted['Player'] == all_stars_teams_count_sorted['Player'].max()]

print(f'The team represented the most by number of unique players in combined years:\n\n{all_starts_most_represented}')

The team represented the most by number of unique players in combined years:

                   Player
Team
San Antonio Spurs       6
Boston Celtics          6

# What draft class is represeted the most during this time?

In [50]:
#Finding unique values while printing all that are max 

all_stars_class_count_no_dup = all_stars.drop_duplicates('Player')
all_stars_teams_count = all_stars_class_count_no_dup.groupby('Team').count()[['Player']]
all_stars_teams_count_sorted = all_stars_teams_count.sort_values(by = 'Player', ascending=False)
all_starts_most_represented = all_stars_teams_count_sorted[all_stars_teams_count_sorted['Player'] == all_stars_teams_count_sorted['Player'].max()]

print(f'The team represented the most by number of unique players in combined years:\n\n{all_starts_most_represented}')

      Player
Year
2000      28
2001      26
2002      25
2003      24
2004      24
2005      25
2006      29
2007      26
2008      26
2009      28
2010      25
2011      25
2012      25
2013      25
2014      28
2015      26
2016      24

# Are foriegn players more prevalent in the All-Star Game during this time?

# How often are the Western All-Stars voted in by fans?

# How many times does Steph Curry make the All-Star game during this time period?

# How many Shooting Gaurds have made the All-Star game during this time?

# How many Chicago Bulls players have made the All-Star Game during this time period?